html, body {
    margin: 0;
    background-color: black;
    border: 3pt solid #fff;
}

.header-container{
    display: grid;
    grid-auto-columns: repeat(13, 1fr);
    background-color: red;

}

.header{
    padding: 10px;
    grid-column: 4/8;
    
}

.h1{
    color: #fff;
    font-family: Helvetica;
    font-size: 74px;
}

.form-container{
    display: grid;
    grid-gap: 2px;
    grid-auto-columns: repeat(13, 1fr);
    grid-template-rows: 50px;
    background-color: red;
    padding: 15px;
}

.form{
    grid-column: 3/6;
    /* border: 1pt solid black; */
}