html, body {
    background-color: #000;
}

.counter-container{
    margin-left: 30px;
    text-align: center;
    width: 500px;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border: solid 5px cadetblue;

}

.count{
    color: cadetblue;
}